* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #310062, #6F6F6F);
}

.header {
  width: 91.35%;
  height: 7rem;
  display: flex;
  padding-right: 5rem;
  align-items: center;
  justify-content: space-between;
}

 .dragao {
  margin-top: 7rem;
  margin-bottom: 3rem;
  width: 40rem;
}

.pesquisa {
  height: 2.3rem;
  width: 25rem;
  border-radius: 20px;
}

.Dpesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imglupa {
  background-color: #6F6F6F;
  padding: .2rem;
  border-radius: 6px;
  margin-left: 0.2rem;
  transition: ease-in-out .2s;
  cursor: pointer;
}

.imglupa:hover{
  opacity: .8;
}

.logo {
  background: linear-gradient(237.14deg, #E2A631 14.88%, #1B0055 86.31%);
  border-radius: 50px;
  padding: .5rem;
  margin-left: 22rem;
}

.coisas {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 40rem;
  height: 3rem;
  background-color: #9E7FF6;
  border-radius: 23px;
}

.button {
  width: 20rem;
  height: 2rem;
  background-color: #9E7FF6;
  border-radius: 15px;
  transition: ease-in-out 0.7s;
}

.button:hover {
  width: 30rem;
  background-color: #7a5ec9;
}

.divisor {
  width: .05rem;
  height: 30rem;
  background-color: #7a5ec9;
}

.cadastro {
  height: 100%;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.login {
  height: 100%;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.input::placeholder {
  color: #000000;
  font-size: 1rem;
}

.button::placeholder {
  color: #000000;
  font-size: 1.3rem;
  text-align:center;
}

.dragao2 {
  width: 70%;
  position: relative;
  
}

.Ddragao2 {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
