*{
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #310062, #6F6F6F);
}

/* --===HEADER===-- */
header{
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: space-around;
}

/* LINKS-LOGO */
#header-links{
    display: flex;
    justify-content: space-between;
    width: 45rem;
}

.text-config{
    text-decoration: none;
    background-color: #9E7FF6;
    color: aliceblue;
    padding: .5rem;
    border-radius: 1rem;
    transition: ease-in-out .2s;
}

.text-config:hover{
    opacity: .8;
}

/* BARRA DE PESQUISA */
.pesquisa{
    height: 2.3rem;
    width: 25rem;
    border-radius: 20px;
}
  
.Dpesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imglupa{
    background-color: #6F6F6F;
    padding: .2rem;
    border-radius: 6px;
    margin-left: 0.2rem;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#imglupa:hover{
    opacity: .8;
}

/* HEADER-LOGO */
#logozinha{
    width: 6rem;
    height: 6rem;
    background: linear-gradient(237.14deg, #E2A631 14.88%, #1B0055 86.31%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50rem;
    transition: ease-in-out .2s;
}

#logozinha:hover{
    opacity: .8;
}

#logo{
    width: 5rem;
    height: 5rem;
    padding: .5rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* --===NAV===-- */
nav{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div-text-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    height: 7rem;
    justify-content: space-between;
}

#text-title{
    font-size: 2.5rem;
}

strong{
    color: aliceblue;
}

#name{
    font-size: 3rem;
}

#color-roxo{
    color: #8741DF
}

#img{
    height: 30rem;
}

#dragaozord{
    height: 30rem;
}
